/*CSS reset to remove margin and padding*/
*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root
{
      --primary-bg-color: #13005A; 
      --secondary-bg-color: #00337C;
      --third-color: #1BCEF6;
      --btn-bg-color: #03C988;

}
/*GENERAL*/
body
{
      font-family: 'Poppins', sans-serif;
}
a
{
      text-decoration: none; 
}
p
{
      font-size: 1.1rem;
      line-height: 2.5rem;
}
h1,h2
{
      margin-bottom: 15px;
}
h2
{
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
}
/*UTILITIES*/
.grid
{
      display: grid;
}
.grid-row-2
{
      grid-template-rows: 45% 1fr;
}
.grid-col-1
{
      grid-template-columns: 1fr;
}
.grid-col-2
{
      grid-template-columns: 1fr 1fr;
      gap: 10px;
}
.grid-col-3
{
      grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-8
{
      grid-template-columns: repeat(8, 1fr);
}
.first-letter-cap
{
      font-size: 3rem;
}

/*HEADER*/
/**navigation**/
#hero-section
{
      background-color: var(--primary-bg-color);
}
header > nav > h2
{
      align-self: center;
      margin-bottom: 0;
      padding-left: 32px;
}
#hero-section > nav > ul
{
      justify-self: center;
      margin-bottom: 0;
}
nav a
{
      color: #fff;
      padding: 5px 10px;
}
nav li
{
      display: inline-block;
      padding: 16px 32px;
}
nav ul
{
      /*removes buttet point from a link*/
      list-style: none;
}
/*HERO*/
#hero-section
{
      height: 100vh;
}
#hero-section > div h1
{
      font-size: 1.8rem;
}
#hero-section > div p
{
      color: var(--third-color);
}
#hero-section li:nth-child(5)
{
      width: 150px;
      border-radius: 50px;
      background: var(--btn-bg-color);
      padding: 5px;
      text-align: center;
}
#hero-section li:nth-child(5) a:hover
{
      color: #00337C;
      border-bottom: none;
}
/* #hero-section
{
      height: calc(100vh - 54px);
      background-image: url("../img/hero-2.jpg");
      background-position: center center;
      background-repeat: none;
      background-repeat: no-repeat;
      background-size: cover;
} */

#hero-section > div
{
      color: #ffffff;;
      height: 100vh;
      justify-items: center;
      align-content: center;
}
#hero-section > div > div:nth-child(1)
{
      align-content: center;
      padding: 0 40px;
}
#hero-section > div > div:nth-child(1) > div
{
      margin-top: 2rem;
}
#hero-section > div > div:nth-child(2) > img
{
      width: 50%;
      justify-self: center;
      border-radius: 2%;
}
#hero-section > div > div div a
{
      /* border: 2px solid #ffffff; */
      background: var(--btn-bg-color);
      border-radius: 20px;
      color: #ffffff;
      padding: 10px 15px;
      width: 150px;
      text-align: center;
}
#hero-section > nav > ul a:hover
{
      color: var(--btn-bg-color);
      /* border-bottom: 3px solid #03C988; */
}
#hero-section > div > div > div a:hover
{
      background: #03C988;
      color: #00337C;
}

/* about section */
#about-section > div > div a
{
      /* border: 2px solid #fff;
      padding: 15px;
      color: #fff; */
      background: var(--btn-bg-color);
      border-radius: 20px;
      color: #ffffff;
      padding: 10px 15px;
      width: 150px;
      text-align: center;
}
#about-section > div > div a:hover
{
      border: none;
      background-color: var(--btn-bg-color);
      color: var(--secondary-bg-color);
}

/*ABOUT*/
#about-section
{
      background-color: var(--secondary-bg-color);
      color: #fff;
}
#about-section > div > div
{
      width: 50%;
      margin: 0 auto;
}
#about-section > div > div > h2
{
      text-align: center;
      padding: 16px 0;
}
#about-section > div > div > p
{
      text-align: justify;
}
#about-section > div > div > div
{
      /* margin-top: 25px; */
      justify-items: center;
}
.about-links > div:nth-child(1)
{
      margin: 25px 0 45px 0;
      width: 50%;
      text-align: center;
}
#about-section > div > div i
{
      padding: 15px 30px;
}
.social-media-icons > i
{
      font-size: 1.6rem;
      transition: all .2s ease-in-out;
}
.social-media-icons > i:hover
{
      font-size: 1.4rem;
      color: var(--btn-bg-color);
      transform: scale(1.8)
}

/*SERVICES*/
#services-section
{
      background-color: #f8f9fb;
}
#services-section > h2
{
      text-align: center;
      padding: 16px 0;
}

#services-section > div > div
{
      text-align: center;
      width: 60%;
      border: 2px solid #000;
      margin-bottom: 64px;
      padding: 15px;
      border-radius: 5px;
}
#services-section > div > div > i
{
      padding: 15px;
      font-size: 2rem;
}
#services-section > div
{
      justify-items: center;
}

/*SKILLS*/
#skills-section
{
      background-color: var(--secondary-bg-color);
      padding-bottom: 50px;
}
/* #skills-section > div
{
      justify-items: center;
} */
/* #skills-section > div > div
{
      border: 2px solid #0EF8D3;
} */
#skills-section > div > div > p
{
      padding: 50px 0;
}
#skills-section > h2
{
      text-align: center;
      padding: 16px 0;
      color: #fff;
} 
#skills-section > div > div:nth-child(1)
{
      padding: 0 64px 64px 64px;
      color: #fff;
}
#skills-section > div > div:nth-child(1) > p
{
      margin-bottom: 20px;
}
.skills-heading
{
      font-weight: bold;
      line-height: 2rem;
      color: #0EF8D3;
}
.skills-bar
{
      width: 80%;
      margin: 0 auto;
      background: #fff;
      padding: 15px 30px;
      border-radius: 10px;
      /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}
.skills-bar .skills-bar
{
      margin: 20px 0;
}
.skills-bar .bar:first-child
{
      margin-top: 0;
}
.skills-bar .bar .info
{
      margin-bottom: 5px;
      margin-top: 15px;
}
.skills-bar .bar .info span
{
      font-weight: 500;
      animation: showText 0.5s 1s linear forwards;
}
@keyframes showText2 
{
      100%{
            opacity: 1;
      }
}

.skills-bar .bar .progress-line
{
      position: relative;
      margin-top: 15px;
      height: 15px;
      width: 100%;
      background: #f0f0f0;
      border-radius: 10px;
      transform: scaleX(0);
      transform-origin: left;
      box-shadow: inset 
      0 1px 1px rgba(0,0,0,0.05),
      0 1px rgba(255,255,255,0.8);
      animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span
{
      height: 100%;
      width: 80%;
      background: #6665ee;
      position: absolute;
      border-radius: 10px;
      transform: scaleX(0);
      transform-origin: left;
      animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate
{
      100%{
            transform: scaleX(1);
      }
}
.progress-line.html span
{
      width: 90%;
}
.progress-line.css span
{
      width: 70%;
}
.progress-line.javascript span
{
      width: 30%;
}
.bar .progress-line span::before
{
      position: absolute;
      content: "";
      right: 0;
      top: -10px;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-bottom-width: 0;
      border-right-width: 0;
      border-top-color: #000;
}
.bar .progress-line span::after
{
      position: absolute;
      content: "80%";
      right: 0;
      top: -28px;
      color: #fff;
      /* font-size: 12px; */
      font-weight: 500;
      background: #000;
      padding: 1px 8px;
      border-radius: 3px;
      opacity: 0;
      animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 
{
      100%{
            opacity: 1;
      }
}
.progress-line.html span::after
{
      content: "90%";
}
.progress-line.css span::after
{
      content: "70%";
}
.progress-line.javascript span::after
{
      content: "20%";
}
/* .progress-line.operating-systems span::after
{
      content: "70%";
} */
/* .progress-line.hardware-software span::after
{
      content: "85%";
} */
/* .progress-line.cloud-computing span::after
{
      content: "35%";
} */
/* .progress-line.networking span::after
{
      content: "30%";
} */

/*TOOLKIT*/
#toolkit-section > div
{
      padding: 32px;
}
#toolkit-section > div > div
{
      justify-items: center;
}
#toolkit-section > div img
{
      width: 50%;
}

/*CONTACT*/
#contact-section
{
      justify-items: center;
      align-items: center;
      padding: 32px 0;
}
#contact-section > div
{
      justify-items: center;
      padding: 16px;
}
#contact-section > div > h3
{
      font-size: 1.5rem;
}
#contact-section > div img
{
      margin-top: 16px;
}
#contact-form
{
      max-width: 500px;
}
#contact-form > div > label
{
      display: block;
}
#contact-form input,
#contact-form textarea 
{
      width: 100%;
}
label
{
      margin-bottom: 10px;
}
input
{
      margin-bottom: 10px;
}
input,textarea
{
      padding: 10px 5px;
      border: 1px solid gray;
      border-radius: 8px;
}
button
{
      margin: 16px 32px 16px 0;
      width: 100px;
      padding: 16px 8px;
}

/*CERTIFICATES*/
#certificates-section div > img
{
      width: 75%;
}