/*CSS reset to remove margin and padding*/
*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
/*GENERAL*/
body
{
      font-family: 'Poppins', sans-serif;
}
a
{
      text-decoration: none; 
}
p
{
      font-size: 1.1rem;
      line-height: 2.5rem;
}
h1,h2
{
      margin-bottom: 15px;
      font-size: 2rem;
}
/*UTILITIES*/
.grid
{
      display: grid;
}
.grid-row-2
{
      grid-template-rows: 45% 1fr;
}
.grid-col-2
{
      grid-template-columns: 1fr 1fr;
      gap: 10px;
}
.grid-col-3
{
      grid-template-columns: 1fr 1fr 1fr;
}
.first-letter-cap
{
      font-size: 3rem;
}

/*HEADER*/
/**navigation**/
nav
{
      background-color: black;
      color: #fff;
}
nav a
{
      color: #fff;
      font-size: 1.2rem;
      padding: 5px 10px;
}
nav li
{
      display: inline-block;
      padding: 16px 32px;
}
nav ul
{
      /*removes buttet point from a link*/
      list-style: none;
}
/*HERO*/
#hero-section
{
      height: calc(100vh - 54px);
      background-image: url("../img/hero-2.jpg");
      background-position: center center;
      background-repeat: none;
      background-repeat: no-repeat;
      background-size: cover;
}
#hero-section h1
{
      font-size: 3rem;
}
#hero-section > div
{
      width: 50%;
      padding: 32px;
      justify-content: center;
      align-content: end;
}
#hero-section > div:nth-child(1) > img
{
      width: 250px;
      border-radius: 50%;
      align-self: center;
}
#hero-section > div:nth-child(2)
{
      text-align: center;
}
#hero-section > div:nth-child(2) > div
{
      margin-top: 32px;
}
#hero-section > div:nth-child(2) > div > a,
#about-section > div > div:nth-child(2) a
{
      border: 2px solid #000;
      padding: 15px;
}
/*ABOUT*/
#about-section div img
{
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 50px;
}
#about-section > div > div:nth-child(2)
{
      padding: 50px;
}
#about-section > div > div:nth-child(2) p
{
      margin-bottom: 32px;
}
#about-section > div > div:nth-child(2) div
{
      margin-top: 45px;
}
#about-section > div > div:nth-child(2) i
{
     padding: 15px 30px 0 0;
     font-size: 2rem;;
}
/*SERVICES*/
#services-section
{
      background-color: #f8f9fb;
}
#services-section > h2
{
      text-align: center;
      padding: 16px 0;
}
#services-section h3
{
      font-size: 1.5rem;
}
#services-section > div > div
{
      text-align: center;
      width: 60%;
      border: 2px solid #000;
      margin-bottom: 64px;
      padding: 15px;
}
#services-section > div > div > i
{
      font-size: 3rem;
      padding: 15px
}
#services-section > div
{
      justify-items: center;
}
/*CONTACT*/
/*CERTIFICATES*/
#certificates-section div > img
{
      width: 75%;
}